* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gradient:  radial-gradient(
    circle at top,
    #3b1d5f,
    #12071f 70%
  );
  --font-classic: "Nunito", sans-serif;
  --font-bold: "Bebas Neue", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background:var(--bg-gradient);
  color: #fff;
  font-family: var(--font-classic);
}

.sidebar-holder {
  width: 15%;
  height: 97vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 8px 0 0 10px;
  margin: 10px 20px 10px 10px;
  background: rgba(255, 255, 255, 0.08);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border-radius: 16px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.top-row {
  display: flex;
  align-items: center;
}