* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gradient:  radial-gradient(
    circle at top,
    #3b1d5f,
    #12071f 70%
  );
  --font-classic: "Nunito", sans-serif;
  --font-bold: "Bebas Neue", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background:var(--bg-gradient);
  color: #fff;
  font-family: var(--font-classic);
}

.sidebar-holder {
  width: 17%;
  height: 97vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 8px 10px;
  margin: 10px 20px 10px 10px;
  background-color: rgba(75, 73, 73, 0.466);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  overflow: hidden;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.top-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.logo h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0;
  text-align: center;
  color: #f9f9fc;
  font-family:  "Bagel Fat One", system-ui;
  letter-spacing: 2px;
  /* transform: scaleY(1.7); */
}

.menu-ham {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
}
.menu-bar {
   width: 100%;
   height: 3px;
   border-radius: 5px;
   background-color: #7c7c88;
}
/* NAVIGATION TAG */
nav {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}
.nav-tag {
  width: 100%;
  height: 100%;
}